.selectBox {
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .10rem;
    background: transparent;
    color: #212529;
}